body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.9;
    color: #8D96BD;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1234px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 19px;
    margin-bottom: 18px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    margin-right: 73px;

    width: 26px;
    height: 26px;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav__link {
    margin-right: 42px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #697CA6;

    text-shadow: 0px 0px 5px #E6E6E6;
    text-decoration: none;
}

.nav__link:hover {
    color: #526181;
}

.nav__link:last-child {
    margin-right: 0;
}

.header__social {
    margin-right: 44px;
}

.header__social-content {
    margin-right: 35px;

    text-decoration: none;
}

.header__social-content:last-child {
    margin-right: 0;
}

.btn {
    display: inline-block;
    align-items: center;

    border: none;
    border-radius: 5px;

    font-family: 'Quicksand';
    font-weight: 700;
    text-decoration: none;

    color: #3A79FF;
    background-color: #D2E1FF;

    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
    background-color: #b4c1db;
}

.btn__header {
    padding: 13px 16px;

    font-size: 13px;
    line-height: 1.2;
}

.intro {
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;

    position: relative;

    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__suptitle {
    margin-top: 92px;
    margin-bottom: 16px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #3D4F9F;
}

.intro__title {
    margin-bottom: 28px;

    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;

    color: #3D4F9F;
}

.intro__title-span {
    font-weight: 500;
}

.intro__text {
    margin-bottom: 20px;

    width: 100%;
    max-width: 450px;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;

    color: #8D96BD;
}

.intro__button {
    padding: 0;

    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    background-color: #fff;

    cursor: pointer;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}

.intro__background {
    position: absolute;

    height: 347px;
    left: 0px;
    top: 0px;

    background: url("../img/intro_background.svg") center no-repeat;
    background-size: cover;
}

.intro__dot {
    position: absolute;
    left: 31.9%;
    bottom: 12.3%;
    z-index: 10;
}

.intro__chart {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
}

.intro__chart-img {
    width: 100%;
}


.intro__slider {
    margin-top: 176px;
    margin-bottom: 28px;

    text-align: center;
}

.container_2 {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 888px;
}

.logos__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 58px;
    margin-bottom: 58px;
}

.logos__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plan {
    padding: 208px 15px;
    background-color: #F5F8FF;
}

.plan__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1121px;
}

.plan__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: wrap;
}

.plan__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-right: 55px;
}

.plan__item:last-child {
    margin-right: 0;
}

.plan__suptitle {
    margin-bottom: 27px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;

    color: #3D4F9F;
}

.plan__title {
    margin-bottom: 27px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;

    color: #3D4F9F;
}

.plan__title-span {
    font-weight: 400;
}

.plan__text {
    width: 380px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;

    color: #8D96BD;
}

.plan__text p {
    margin-bottom: 47px;
}

.btn__plan {
    padding: 15px 25px;
    margin-right: 0;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;

    color: #fff;
    background-color: #4C85FF;

    border-radius: 2px;
}

.btn__plan-2 {
    padding: 15px 25px;
    margin-left: 0;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;

    color: #ADB4D2;
    background-color: #F5F8FF;

    border: 1px solid #D1D1E4;
    border-radius: 2px;
}

/* .plan__item-position {
    position: absolute;
    top: 500px;
    right: 300px;
} */

.plan__item-images {
    position: relative;

    width: 100%;
    max-width: 653px;
    height: 100%;
    max-height: 436px;
}

.item-img-1 {
    width: 100%;
    max-width: 510px;
    height: 100%;
    min-height: 318px;

    position: absolute;
    top: -90px;
    left: 85px;

    border-top: 11px solid #fff;
    border-right: 11px solid #fff;
    border-left: 11px solid #fff;
    border-radius: 12px;

    box-shadow: 0 8px 20px 4px #d4d4d4;
}

.item-img-2 {
    display: block;
    width: 100%;
    max-width: 107px;
    height: 100%;
    max-height: 191px;

    border-top: 11px solid #fff;
    border-bottom: 11px solid #fff;
    border-radius: 12px;

    box-shadow: 0 8px 20px 4px #d4d4d4;

    z-index: 10;
}

.item-img-3 {
    display: block;

    width: 100%;
    max-width: 144px;
    height: auto;

    position: absolute;
    top: 65px;
    left: 425px;

    border-top: 9px solid #fff;
    border-bottom: 15px solid #fff;
    border-radius: 12px;

    box-shadow: 0 8px 20px 4px #d4d4d4;
}

.about {
    margin-top: 171px;
    margin-bottom: 171px;

    background: url("../img/clouds12.jpg") center no-repeat;
}

.about__suptitle {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #3D4F9F;
}

.about__title {
    margin-bottom: 92px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;

    color: #3D4F9F;
}

.about__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;


    margin-bottom: 92px;
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: 67px;
}

.about__item:last-child {
    margin-right: 0;
}

.about__item:after {
    content: "";
    display: block;
    position: absolute;
    top: 124px;
    left: 160px;

    height: 1px;
    width: 28px;
    background: #DAE4FE;
}

.about__item:last-child:after {
    display: none;
}

.about__item img {
    margin-bottom: 33px;
}

.about__name {
    margin-bottom: 25px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;

    color: #4074F8;
}

.about__text {
    width: 100%;
    max-width: 140px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.7;
    text-align: center;

    color: #ADB3CB;
}

.about__or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn__about-red {
    margin-right: 47px;
    padding: 13px 15px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;

    color: #D43F3F;
    background-color: #FFD7D7;
}

.about__or p {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.7;

    position: relative;
}

.about__or p:before,
.about__or p:after {
    content: "";
    display: block;
    position: absolute;

    height: 1px;
    width: 15px;

    background: #DAE4FE;
}

.about__or p::before {
    top: 10px;
    right: 32px;
}

.about__or p:after {
    top: 10px;
    left: 32px;
}

.btn__about-blue {
    margin-left: 47px;
    padding: 13px 15px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;

    color: #3A79FF;
    background-color: #D2E1FF;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.statistics__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding-top: 66px;
    padding-bottom: 66px;

    width: 100%;
    background-color: #6888FF;
}

.statistics__item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    margin-right: 90px;
}

.statistics__img-left {
    margin-bottom: 10px;

    width: 65px;
    height: 66px;
}

.statistics__number-left {

    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.7;
    text-align: right;

    color: #ffffff;
}

.statistics__text-left {
    width: 100%;
    max-width: 260px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: right;

    color: #ffffff;
}

.statistics__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-top: 70px;
    padding-bottom: 66px;

    width: 100%;
    background-color: #E9EFFF;
}

.statistics__item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 90px;
}

.statistics__img-right {
    margin-bottom: 10px;

    width: 71px;
    height: 62px;
}

.statistics__number-right {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.7;
    text-align: left;

    color: #5E80FF;
}

.statistics__text-right {
    width: 100%;
    max-width: 260px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;

    color: #5E80FF;
}

.blog {
    margin: 0 auto;
    padding: 104px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 0;

    background-color: #F5F8FF;
}

.blog__suptitle {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #3D4F9F;
}

.blog__title {
    margin-bottom: 92px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;

    text-align: center;
    color: #3D4F9F;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.blog__slider {
    position: relative;
    width: 100%;
    max-width: 958px;
}

.blog__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 23px;
    height: 15px;

    border: none;
}

.blog__slider .slick-prev {
    left: -75px;

    background: url(../img/blog_left.svg) 0 0 / 100% no-repeat;
}

.blog__slider .slick-next {
    right: -75px;

    background: url(../img/blog_right.svg) 0 0 / 100% no-repeat;
}

.blog__slider .slick-dots {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__slider .slick-dots li {
    list-style: none;
    margin: 0 12px;
}

.blog__slider .slick-dots button {
    padding: 0;
    font-size: 0;
    width: 8px;
    height: 8px;

    border: none;
    border-radius: 50%;
    background-color: #D1D6E3;
}

.blog__slider .slick-dots li.slick-active button {
    background-color: #5283FF;
}

.blog__inner {
    padding: 63px 35px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 958px;
    min-width: 0;

    border: 1px solid #D8E3FE;
    background-color: #fff;
}

.blog__images {
    display: flex;
    margin-right: 67px;

    width: 100%;
    max-width: 407px;
    min-width: 0;
    height: 100%;
    max-height: 267px;
}

.blog__col {
    flex: 1 1 0;
}

.blog__item {
    position: relative;
}

.blog__item:first-child {
    margin-right: 13px;
}

.blog__col:nth-child(2) .blog__item:first-child {
    margin-bottom: 13px;
}

.blog__image {
    display: block;
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 408px;
    min-width: 0;
    height: 267px;
}

.blog__content-title {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;

    color: #3D4F9F;
}

.blog__content-text {
    height: 100%;
    min-height: 116px;

    width: 100%;
    max-width: 408px;
}

.btn__blog {
    padding: 13px 15px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #3A79FF;
    background-color: #D2E1FF;
}

.btn__blog-2 {
    padding: 13px 15px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #A6B6DA;
    background-color: transparent;
}

.testimonials {
    padding: 108px 15px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

    overflow: hidden;
}

.testimonials__container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1121px;
}

.testimonials__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: wrap;
}

.testimonials__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-right: 55px;
}

.testimonials:last-child {
    margin-right: 0;
}

.testimonials__suptitle {
    margin-bottom: 27px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;

    color: #3D4F9F;
}

.testimonials__title {
    margin-bottom: 27px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;

    color: #3D4F9F;
}

.testimonials__text {
    width: 323px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;

    color: #8D96BD;
}

.testimonials__posiiton {
    margin-bottom: 110px;
    position: relative;
}


.testimonials__slider {
    position: absolute;
    top: -220px;
    right: -290px;

    width: 100%;
    max-width: 958px;

    min-width: 0;
}

.testimonials__slider .slick-list {
    height: 210px;
}

.testimonials__slider-item {
    margin-right: 64px;
    padding: 25px 70px;

    position: relative;
    opacity: 0.4;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #676F95;

    background-color: #fff;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;

}

.testimonials__slider-item.slick-current {
    opacity: 1;
}

.testimonials__slider-item.slick-current:after {
    content: url("../img/testmonials_1.svg");

    position: absolute;
    left: 180px;
    top: 144px;

    width: 62px;
    height: 62px;
}

.testimonials__slider-item:last-child {
    margin-right: 0;
}

.testimonials__slider .slick-dots {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.testimonials__slider .slick-dots li {
    list-style: none;
    margin: 0 12px;
}

.testimonials__slider .slick-dots button {
    padding: 0;
    font-size: 0;
    width: 8px;
    height: 8px;

    border: none;
    border-radius: 50%;
    background-color: #D1D6E3;
}

.testimonials__slider .slick-dots li.slick-active button {
    background-color: #5283FF;
}

.questions {
    margin: 176px auto;
    width: 100%;
    max-width: 743px;
}

.questions__suptitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;

    text-align: center;
    text-transform: uppercase;
    color: #3D4F9F;
}

.questions__title {
    margin-bottom: 68px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 24px;
    text-align: center;

    color: #3D4F9F;
}

.questions__item {
    display: flex;
}

.accordion__item {
    margin-bottom: 17px;
    border-bottom: 1px solid #D8E3FE;

    width: 100%;
}

.accordion__item.active .accordion__content {
    display: flex;
}

.accordion__item.active .accordion__header {
    font-weight: 700;
    color: #495274;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 17px 10px 15px 62px;
    position: relative;

    cursor: pointer;
}

.accordion__header:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border-top: 3px solid #8E96B7;
    border-right: 3px solid #8E96B7;

    position: absolute;
    top: 44%;
    left: 24px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__content {
    padding: 0 32px 45px 80px;
    display: none;
    justify-content: center;
    align-items: center;
}

.accordion__content p {
    margin-right: 62px;

    width: 100%;
    max-width: 379px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: #8D96BD;
}

.btn__accordion {
    padding: 13px 15px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    color: #7382A3;

    background-color: #E8ECF4;
    border-radius: 2px;
}

.started {
    padding: 91px 0;
    background: url("../img/started_background.jpg") center no-repeat;
    background-size: 100%;
}

.started__suptitle {
    margin-bottom: 16px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;

    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.started__title {
    margin-bottom: 28px;

    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;

    color: #fff;
}

.started__title-span {
    font-family: 'Quicksand';
    font-weight: bold;
}

.started__text {
    margin: 0 auto 28px auto;
    width: 100%;
    max-width: 712px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;
    text-align: center;
    color: #fff;
}

.started__btn {
    text-align: center;
}

.btn__started-1 {
    padding: 13px 17px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #565F82;

    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #fff;
}

.btn__started-2 {
    margin-left: -4px;
    padding: 13px 9px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #C7D3FF;

    border: 1px solid #A0B4FF;
    border-left: none;
    border-radius: 2px;
    background-color: transparent;
}

.btn__started-2:hover {
    background-color: #3A79FF;
}

.newsletter {
    border-bottom: 1px solid #D8E3FE;
    padding-top: 118px;
    padding-bottom: 118px;
}

.newsletter__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter__item:last-child {
    margin-top: auto;
    margin-bottom: auto;

    width: 100%;
    max-width: 477px;
}

.newsletter__title {
    margin-bottom: 18px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: #3D4F9F;
}

.newsletter__text {
    width: 100%;
    max-width: 330px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: #8D96BD;
}

.subscribe {
    display: flex;
    width: 100%;
    max-width: 477px;
}

.subscribe__input {
    width: 60%;
    padding: 21px 23px;
    margin-right: 14px;

    background: #EFEFF7;
    border: none;
    border-radius: 5px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #6a728f;

    outline: 0;
}

.subscribe__input::placeholder {
    color: #7A85AD;
}

.subscribe__input:focus {
    outline: 0;
    border: 1px solid #6a728f;
}

.subscribe__button {
    width: 40%;
    padding: 21px 62px;

    background-color: #4D6CE1;
    border: 0;
    cursor: pointer;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;

    transition: background 0.2s linear;
}

.subscribe__button:hover {
    background-color: #1f3daa;
}

.subscripe__button:focus {
    outline: 0;
}

.footer {
    width: 100%;
    margin-top: 93px;
    margin-bottom: 93px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo {
    margin-right: 73px;

    width: 26px;
    height: 26px;
}

.footer__social {
    margin-right: 44px;
}

.footer__social-content {
    margin-right: 35px;

    text-decoration: none;
}

.footer__social-content:last-child {
    margin-right: 0;
}

.btn__footer {
    padding: 13px 16px;

    font-size: 13px;
    line-height: 1.2;
}

.footer__copyright {
    margin-top: 28px;
    margin-left: 100px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #AEB8D0;
}