body {
    margin: 0;

    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.9;
    color: #8D96BD;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1234px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 19px;
    margin-bottom: 18px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    margin-right: 73px;

    width: 26px;
    height: 26px;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav__link {
    margin-right: 42px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #697CA6;

    text-shadow: 0px 0px 5px #E6E6E6;
    text-decoration: none;
}

.nav__link:hover {
    color: #526181;
}

.nav__link:last-child {
    margin-right: 0;
}

.header__social {
    margin-right: 44px;
}

.header__social-content {
    margin-right: 35px;

    text-decoration: none;
}

.header__social-content:last-child {
    margin-right: 0;
}

.btn {
    display: inline-block;
    align-items: center;

    border: none;
    border-radius: 5px;

    font-family: 'Quicksand';
    font-weight: 700;
    text-decoration: none;

    color: #3A79FF;
    background-color: #D2E1FF;

    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
    background-color: #b4c1db;
}

.btn__header {
    padding: 13px 16px;

    font-size: 13px;
    line-height: 1.2;
}

.intro {
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;

    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__suptitle {
    margin-top: 92px;
    margin-bottom: 16px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #3D4F9F;
}

.intro__title {
    margin-bottom: 28px;

    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;

    color: #3D4F9F;
}

.intro__text {
    margin-bottom: 20px;

    width: 100%;
    max-width: 450px;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;

    color: #8D96BD;
}

.intro__button {
    padding: 0;

    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
}

/* .logos {

} */

.container_2 {
    margin: 0 auto;
    width: 100%;
    max-width: 888px;
}

.logos__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 58px;
    margin-bottom: 58px;
}

.logos__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plan {
    padding-top: 208px;
    background-color: #F5F8FF;
}

.plan__inner {
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position: relative;
}

.plan__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.plan__suptitle {
    margin-bottom: 27px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;

    color: #3D4F9F;
}

.plan__title {
    margin-bottom: 27px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;

    color: #3D4F9F;
}

.plan__title-span {
    font-weight: 400;
}

.plan__text {
    margin-bottom: 47px;
    width: 380px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.9;

    color: #8D96BD;
}

.btn__plan {
    padding: 15px 25px;
    margin-right: 0;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;

    color: #fff;
    background-color: #4C85FF;

    border-radius: 2px;
}

.btn__plan-2 {
    padding: 15px 25px;
    margin-left: 0;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;

    color: #ADB4D2;
    background-color: #F5F8FF;

    border: 1px solid #D1D1E4;
    border-radius: 2px;
}

.item-img {
    position: absolute;
    top: -26px;
    left: 550px;
}

.about {
    margin-top: 171px;
    margin-bottom: 171px;

    background: url("../img/clouds12.jpg") center no-repeat;
}

.about__suptitle {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #3D4F9F;
}

.about__title {
    margin-bottom: 92px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;

    color: #3D4F9F;
}

.about__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;


    margin-bottom: 92px;
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-right: 67px;
}

.about__item:last-child {
    margin-right: 0;
}

.about__item:after {
    content: "";
    display: block;
    position: absolute;
    top: 124px;
    left: 160px;

    height: 1px;
    width: 28px;
    background: #DAE4FE;
}

.about__item:last-child:after {
    display: none;
}

.about__item img {
    margin-bottom: 33px;
}

.about__name {
    margin-bottom: 25px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;

    color: #4074F8;
}

.about__text {
    width: 100%;
    max-width: 140px;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.7;
    text-align: center;

    color: #ADB3CB;
}

.about__or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn__about-red {
    margin-right: 47px;
    padding: 13px 15px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;

    color: #D43F3F;
    background-color: #FFD7D7;
}

.about__or p {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.7;

    position: relative;
}

.about__or p:before,
.about__or p:after {
    content: "";
    display: block;
    position: absolute;

    height: 1px;
    width: 15px;

    background: #DAE4FE;
}

.about__or p::before {
    top: 10px;
    right: 32px;
}

.about__or p:after {
    top: 10px;
    left: 32px;
}

.btn__about-blue {
    margin-left: 47px;
    padding: 13px 15px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;

    color: #3A79FF;
    background-color: #D2E1FF;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.statistics__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding-top: 66px;
    padding-bottom: 66px;

    width: 100%;
    background-color: #6888FF;
}

.statistics__item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    margin-right: 90px;
}

.statistics__img-left {
    margin-bottom: 10px;

    width: 65px;
    height: 66px;
}

.statistics__number-left {
    
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.7;
    text-align: right;

    color: #ffffff;
}

.statistics__text-left {
    width: 100%;
    max-width: 260px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: right;

    color: #ffffff;
}

.statistics__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-top: 70px;
    padding-bottom: 66px;

    width: 100%;
    background-color: #E9EFFF;
}

.statistics__item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 90px;
}

.statistics__img-right {
    margin-bottom: 10px;

    width: 71px;
    height: 62px;
}

.statistics__number-right {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.7;
    text-align: left;

    color: #5E80FF;
}

.statistics__text-right {
    width: 100%;
    max-width: 260px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;

    color: #5E80FF;
}

.blog {
    margin: 0 auto;
    padding-top: 104px;
    padding-bottom: 104px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 0;

    background-color: #F5F8FF;
}

.blog__suptitle {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    color: #3D4F9F;
}

.blog__title {
    margin-bottom: 92px;

    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;

    text-align: center;
    color: #3D4F9F;
}

.blog__inner {
    padding: 63px 35px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 958px;
    min-width: 0;

    border: 1px solid #D8E3FE;
    background-color: #fff;
}

.blog__images {
    display: flex;
    margin-right: 67px;

    width: 100%;
    max-width: 407px;
    min-width: 0;
    height: 100%;
    max-height: 267px;
}

.blog__col {
    flex: 1 1 0;
}

.blog__item {
    position: relative;
}

.blog__item:first-child {
    margin-right: 13px;
}

.blog__col:nth-child(2) .blog__item:first-child {
    margin-bottom: 13px;
}

.blog__image {
    display: block;
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 408px;
    min-width: 0;
    height: 267px;
}

.blog__content-title {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    
    color: #3D4F9F;
}

.blog__content-text {
    height: 100%;
    min-height: 116px;

    width: 100%;
    max-width: 408px;
}

.btn__blog {
    padding: 13px 15px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #3A79FF;
    background-color: #D2E1FF;
}

.btn__blog-2 {
    padding: 13px 15px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #A6B6DA;
    background-color: transparent;
}

/* .blog__slider {
    display: flex;

    min-width: 0;
} */

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.blog__inner .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 23px;
    height: 15px;

    border: none;
}

.blog__inner .slick-arrow.slick-prev {
    left: -75px;
    background: url(../img/blog_left.svg) 0 0 / 100% no-repeat;
}

.blog__inner .slick-arrow.slick-next {
    right: -75px;
    background: url(../img/blog_right.svg) 0 0 / 100% no-repeat;
}
